:root {
  --gris: #3d3d3d;
  --gris2: #6f6f6f;
  --gris3: #e1e1e1;
  --naranja: #da552f;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Commissioner", serif;
}

header {
  border-bottom: 2px solid var(--gris3);
  padding: 1rem 0;
}
h1,
h2,
h3 {
  margin: 0 0 2rem 0;
  line-height: 1.5;
  font-family: "Commissioner", serif;
  font-weight: 700;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.botones-container {
  display: flex;
  align-items: center;
}

.parrafo {
  margin-right: 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

form {
  position: relative;
}

.titulo {
  text-align: center;
  margin-top: 5rem;
}

.imagen-coment {
  margin-right: 2rem;
  border: none !important;
}

.error-title {
  margin-top: 5rem;
  text-align: center;
}

.titulo-producto {
  text-align: center;
  margin-top: 5rem;
}

.contenedor {
  max-width: 1200px;
  width: 95%;
  padding: 5rem 0;
  margin: 0 auto;
}

.comentario {
  margin: 2rem 0;
}

.votos-container {
  margin-top: 5rem;
}

.votos {
  text-align: center;
}

.comentarios {
  border: 1px solid #e1e1e1;
  padding: 2rem;
}

.comentario-usuario {
  font-weight: bold;
}
